/* Variable de colores */
:root {
    --color-primario: #108eef;
    --color-primario-hover: #0d6bb3;
    --color-secundario: #3ae9ef;
    --color-secundario-hover: #20979e;
    --color-accento: #071d6d;
    --color-fondo: #f5f5f5;
    --header-fondo: #e7e5e5ba;
    --color-texto: #333333;
}

/* Estilo pagina de inicio */
/* Estilos para el hero */
main {
    padding: 4rem 3rem;
}

main p {
    margin-top: 1rem;
    width: 56rem;
}

main .btns {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
}

main .btns a.proyectos-btn {
    text-decoration: none;
    background-color: var(--color-primario);
    color: black;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.3s;
}

main .btns a.sobre-mi-btn {
    text-decoration: none;
    background-color: var(--color-secundario);
    color: black;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.3s;
}

/* Botones */
main .btns a.proyectos-btn:hover {
    background-color: var(--color-primario-hover);
    transform: scale(1.05);
}

main .btns a.sobre-mi-btn:hover {
    background-color: var(--color-secundario-hover);
    color: white;
    border: none;
    transform: scale (1.05);
}

/* Logros */
.logros {
    padding: 4rem 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.logros .cards{
    display: flex;
    gap: 2rem;
}

.logros .cards .card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logros .cards .card h3 {
    margin-bottom: 0.5rem;
}

.logros .cards .card p {
    color: var(--color-texto);
    font-size: 0.9rem;
    margin-bottom: 2rem;
    width: 20rem;
}

.logros .cards .card img {
    width: 20rem;
    max-height: 14rem;
    border-radius: 0.5rem;
}