* {
    margin: 0;
}

html {
    background-color: var(--color-fondo);
}

/* Variable de colores */
:root {
    --color-primario: #108eef;
    --color-primario-hover: #0d6bb3;
    --color-secundario: #3ae9ef;
    --color-secundario-hover: #20979e;
    --color-accento: #071d6d;
    --color-fondo: #f5f5f5;
    --header-fondo: #e7e5e5ba;
    --color-texto: #333333;
}

/* Barra de navegacion */
header {
    padding: 0.6rem 2rem;
    background-color: var(--header-fondo);
    color: var(--color-texto);
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    gap: 1.5rem;
    width: fit-content;
}

header nav a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 500;
    transition: all 0.3s;
}

header nav a:hover {
    scale: 1.1;
    color: black;
}
/* Footer */

